
<div>
  <span><%= link_to("All Books", root_path) %></span>
  <span><%= link_to "Delete Author", author_path(@author), method: :delete %></span>
</div>
<h1> <%= @author.name %></h1>

<section class="listed_books">
  <% @author_books.each do |book| %>
  <div class="books">
  <h3><%= link_to(book.title, book_path(book))%></h3>
    Pages: <%= book.pages %>
    <br>Authors: <% book.authors.each do |author| %>
      <% if author != @author %>
      <%= link_to(author.name, author_path(author))%>
      <% end %>
    <% end %>
    <br><br><strong>Top Review:</strong>
      <br><strong>Title: </strong></strong><%= book.reviews.top_review_title %>
      <br><strong>Score: </strong><%= book.reviews.top_review_score %>
      <br><strong>User Name: </strong><%= link_to(book.reviews.top_review_user_name, user_path(book.reviews.top_review)) %>
  </div>
  <% end %>
  </ul>
</section>
