<h1><%= @users.name %></h1>

<div class="sort">
  Sort by:<br>
  <select onchange="location = this.value;">
    <option>-------</option>
    <option value="/users?direction=DESC">Newest First</option>
    <option value="/users?direction=ASC">Descending First</option>
  </select>
</div>


<% @users.reviews.each do |review| %>
<div class="users" id="review_<%review.id%>">
<ul>
  <strong>Review Title: <%=review.title %></strong>
  <li>Rating: <%= review.score %> </li>
  <li>Comments: <%= review.description %></li>
</ul>
<%= link_to "Delete Review", review_path(review), method: :delete %>
</div>
<% end %>
