<div><%= link_to("All Books", root_path) %></div>

<h1><%= @users.name %></h1>

<div class="sort">
  Sort by:<br>
  <select onchange="location = this.value;">
    <option>-------</option>
    <option value="?sort=new">Newest First</option>
    <option value="?sort=old">Descending First</option>
  </select>
</div>


<% @user_reviews.each do |review| %>
<div class="users" id="review_<%=review.id%>">
<ul>
  <strong>Review Title: <%=review.title %></strong>
  <li>Book: <%= Book.find(review.book_id).title %></li>
  <li>Rating: <%= review.score %> </li>
  <li>Comments: <%= review.description %></li>
</ul>
<%= link_to "Delete Review", review_path(review), method: :delete %>
</div>
<% end %>
