<h1>Welcome to Book Club</h1>
<div class="links">
<%= link_to "Add Book", new_book_path %>
</div>

<div class="statistics">
  <div class= "stats_title">Statistics</div>
  <div>
    <% if @books != [] %>
    <h3>Top Rated Books: </h3>
    <ul>
    <% @top_rated_books.each do |book| %>
      <li><%= link_to(book.title, book_path(book)) %></li>
    <% end %>
    </ul>
  </div>
  <div>
  <h3>Bottom Rated Books: </h3>
    <ul>
    <% @bottom_rated_books.each do |book| %>
      <li><%= link_to(book.title, book_path(book)) %></li>
    <% end %>
    </ul>
    <% end %>
  </div>
  <div>
  <h3>Top Users:</h3>
    <ul>
    <% @top_users.each do |user| %>
      <li><%= link_to(user.name, user_path(user))%></li>
    <% end %>
    </ul>
  </div>
</div>
<div class="sort">
<h2>All Books: </h2>
Sort by:<br>
<select id="sort_options" onchange="location = this.value;">
<option>-------</option>
<option id="avg_asc" value="/books?sort=avg_score&direction=DESC">Average Rating Ascending</option>
<option id="avg_desc" value="/books?sort=avg_score&direction=ASC">Average Rating Descending</option>
<option id="pages_asc" value="/books?sort=pages&direction=DESC">Number of Pages Ascending</option>
<option id="pages_desc" value="/books?sort=pages&direction=ASC">Number of Pages Descending</option>
<option id="tot_asc" value="/books?sort=total_reviews&direction=DESC">Total Number of Reviews Ascending</option>
<option id="tot_desc" value="/books?sort=total_reviews&direction=ASC">Total Number of Reviews Descending</option>

</select>
</div>

<section class="listed_books">
  <% @books.each do |book| %>
  <div class="books" id="book-<%book.id%>">
    <div class="title"><h2><%= link_to(book.title, book_path(book)) %></h2></div>
      <strong>Pages: </strong><%= book.pages %>
      <br><strong>Year: </strong><%= book.year %>
      <br><strong>Author(s): </strong><br>
        <% book.authors.each do |author| %><%= link_to(author.name, author_path(author)) %> <br> <% end %>
      <br><strong>Total Reviews: </strong><%= book.reviews.count %>
      <br><strong>Average Rating: </strong><%= book.average_review_rating %>
  </div>
  <% end %>
</section>
