<h1>All Books</h1>

<div class="statistics">
  <h2>Statistics</h2>
  <h3>Top Rated Books: </h3>
    <ul>
    <% @top_rated_books.each do |top_book| %>
      <li><%= top_book.title %></li>
    <% end %>
    </ul>

  <h3>Bottom Rated Books </h3>
    <ul>
    <% @bottom_rated_books.each do |bottom_book| %>
      <li><%= bottom_book.title %></li>
    <% end %>
    </ul>

  <h3>Top Users</h3>
    <ul>
    <% @top_users.each do |user| %>
      <li><%= user.name %></li>
    <% end %>
    </ul>
</div>
<div class="sort">

Sort by:<br>
<select onchange="location = this.value;">
<option>-------</option>
<option value="/books?sort=avg_score&direction=DESC">Average Rating Ascending</option>
<option value="/books?sort=avg_score&direction=ASC">Average Rating Descending</option>
<option value="/books?sort=pages&direction=DESC">Number of Pages Ascending</option>
<option value="/books?sort=pages&direction=ASC">Number of Pages Descending</option>
<option value="/books?sort=total_reviews&direction=DESC">Total Number of Reviews Ascending</option>
<option value="/books?sort=total_reviews&direction=ASC">Total Number of Reviews Descending</option>

</select
</div>

<% @books.each do |book| %>
<div class="books">
<h2><%= link_to(book.title, book_path(book)) %></h2>
<ul>
  <li><strong>Pages: </strong><%= book.pages %></li>
  <li><strong>Year: </strong><%= book.year %></li>

  <li><strong>Author(s): </strong><br>
  <% book.authors.each do |author| %><%= author.name %> <br> <% end %></li>

  <li> <strong>Total Reviews: </strong><%= book.reviews.count %></li>
  <li> <strong>Average Rating: </strong><%= book.average_review_rating %></li>

</ul>
</div>

<% end %>
