<div>
<%= form_for(@book) do |f| %>
  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :pages %><br/>
    <%= f.number_field :pages %>
  </p>
  <p>
    <%= f.label :year %><br/>
    <%= f.number_field :year %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>
