<h1>All Books</h1>
<%= link_to("All Books", root_path) %>
<div class="statistics">
  <h2>Statistics</h2>
  <p>
    <strong>Average Rating: </strong>
  </p>
</div>

<h2><%= @books.title %></h2>
<ul>
  <li>Pages: <%= @books.pages %></li>
  <li>Year: <%= @books.year %></li>
  <% @books.authors.each do |author| %>
  <li>Author: <%= author.name %> </li>
  <br>
  <% @books.reviews.each do |review| %>
  <li><strong><%= review.title %></strong></li>
  <li><%= review.score %></li>
  <li><%= review.user_name %></li>
  <li><%= review.description %></li>
  <br>
  <% end %>
  <% end %>
</ul>
