<div><%= link_to("All Books", root_path) %></div>

<div>
  <h2>Add a Review</h2>
<%= form_for(@review) do |f| %>
  <%= f.hidden_field :book_id, value: params[:book_id] %>
  <p>
    <strong><%= f.label :title %>:</strong>
    <%= f.text_field :title %>
  </p>
  <p>
    <strong>Score:</strong><br>
    <% (1..5).each do |scr_point| %>
    <strong><%= f.label :score, scr_point %></strong>
      <%= f.radio_button :score, scr_point %><br/>
    <% end %>
  </p>
    <%= f.label :user_name %>
    <%= f.text_field :user_name %>
  <p>
  </p>
  <p>
    <strong><%= f.label :description %>:</strong>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>
