
<div>

<%= form_for(@review) do |f| %>
  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </p>
  <p>

    <%= f.radio_button :rating, 'male' %>
    <%= f.label :gender_male, "Male" %>

    <%= f.radio_button :rating, 'female' %>
    <%= f.label :gender_female, "Female" %>
  </p>
  <p>
    <%= f.label :year %><br/>
    <%= f.number_field :year %>
    
    <%= f.label :score %><br/>
    <%= f.number_field :score %>
  </p>
  <p>
    <%= f.label :description %><br/>
    <%= f.text_field :description %>

  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

</div>
